---
layout: default
---

<!-- <div><p>site</p><pre>{{site | inspect }}</pre></div> -->
<!-- <div><p>site.tags</p><pre>{{site.tags | inspect }}</pre></div> -->
<div><p>page</p><pre>{{page | inspect }}</pre></div>
{% for t in site.tags %}
  <div><p>t[0]</p><pre>{{t[0]}}</pre></div>
  <h1>Posts tagged {{t[0]}}</h1>
  <div class="posts">
    {% for post in t[1] %}
    <article class="post">
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <div class="entry">
        {{ post.excerpt }}
      </div>
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
    {% endfor %}
  </div>
{% endfor %}
