<h1>Posts tagged {{page.name}}</h1>
<div class="posts {{ page.name }}">
  {% for post in site.tags[page.name] %}
    {% if post.tags[0] != 'draft' or page.name == 'draft' %}
    <article class="post">
      <h2 class="entry-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
      <div class="entry">
        {{ post.excerpt }}
      </div>
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
    {% endif %}
  {% endfor %}
</div>
