<style type="text/css">
  #content {max-width: 100%;}
  .posts{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-content:space-between;
  }
  .post {width:30%; margin-bottom:5%;}
  .post  img {border:1px solid #ddd;}

  /*smaller screen sizes*/
  @media all and (max-width: 1999px){
    .post {width:46%;}
    .post  img {width:46%;}
  }
  @media all and (max-width: 1199px){
    .post {width:100%;}
    .post  img {width:50%;}
  }
  @media all and (max-width: 899px){
    .post  img {width:100%;}
  }
</style>


<h1>Projects</h1>
<div class="posts {{ page.name}}">
  {% for post in site.tags[page.name] %}

    {% if post.tags contains 'project' %}
      {% assign is_project = true %}
      {% assign is_not_project = false %}
    {% else %}
      {% assign is_project = false %}
      {% assign is_not_project = true %}
    {% endif %}
    {% if post.tags contains 'draft' %}
      {% assign is_draft = true %}
      {% assign is_not_draft = false %}
    {% else %}
      {% assign is_draft = false %}
      {% assign is_not_draft = true %}
    {% endif %}

    {% if is_project and is_not_draft %}
    <article class="post">
      {% if post.index_loc %}
        <h2 class="entry-title"><a href="{{ post.index_loc }}">{{ post.title }}</a></h2>
        <a href="{{ post.index_loc }}"><img src="{{ post.image }}" alt="{{ post.image_alt }}" /></a>
      {% else %}
        <h2 class="entry-title"><a>{{ post.title }}</a></h2>
        <a><img src="{{ post.image }}" alt="{{ post.image_alt }}" /></a>
      {% endif %}
      <div class="entry">
        {{ post.content }}
      </div>
    </article>
    {% endif %}
  {% endfor %}
</div>
