<style type="text/css">
  #content {max-width: 100%;}
  .entry{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
  }
  .entry p{
    width:30%;
    border:1px solid #ddd;
  }

  /*smaller screen sizes*/
  @media all and (max-width: 1999px){
    .entry p{width:46%;}
    .entry p img {width:46%;}
  }
  @media all and (max-width: 1199px){
    .entry p{width:100%;}
    .entry p img {width:50%;height:auto;}
  }
  @media all and (max-width: 899px){
    .entry p img {width:100%;height:auto;}
  }
</style>


<h1>Projects</h1>
<p>06/2017 - Migration in progress</p>
<!--   ["_project_files", post.slug, "index.html"].join('/')  -->
<div class="posts {{ page.name}}">
  {% for post in site.tags[page.name] %}
    {% if post.tags[0] != 'draft' or page.name == 'draft' %}
    <article class="post">
      {% assign post_url = post.url %}
      <a href="{{ site.baseurl }}{{ post_url }}">
        <img src="images/{{ post.image}}" alt="{{ post.image_alt }}" />
        <h2>{{ post.title }}</h2>
      </a>
      <div class="entry">
        {{ post.content }}
      </div>
    </article>
    {% endif %}
  {% endfor %}
</div>
