---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <div>{{ post.custom_tags | join ","}}</div>
    <div>{{ post.custom_tags.join(",")  | inspect }}</div>
    {% if post.custom_tags[0] != 'draft' && post.custom_tags[0] != 'project' %}
      <article class="post">
        <h1 class="entry-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
          <div class="entry">
            {{ post.excerpt }}
          </div>

          <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      </article>
    {% endif %}
  {% endfor %}
</div>
